* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --backcolour: #494964;
}

body {
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 55px;
  height: 50px;
}

.navbar {
  background: transparent !important;
}
.navbar-brand {
  color: var(--backcolour) !important;
}
.nav-item {
  font-size: 1.2rem !important;
  padding: 0 10px 0 0 !important;
}
.navbar-nav {
  margin-right: 10% !important;
}
.nav-link:hover {
  text-decoration: #494964 underline;
}
.big-eclipse {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.7;
  height: 80%;
}
.mid-eclipse {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.9;
}
.small-eclipse {
  position: absolute;
  bottom: 0%;
  left: 25%;
  z-index: -1;
  height: 40%;
  opacity: 1;
}

.timeline img {
  height: 60vh;
  border: 10px solid white;
}
.timeline p {
  padding-top: 100px;
}

.robot-section {
  display: flex;
  justify-items: center;
}

.robot {
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .robot-section {
    flex-direction: column;
  }
  .robot-section p {
    padding: 0;
    padding-bottom: 100px;
  }
}
