* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --backcolour: #494964;
}
html {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 55px;
  height: 50px;
}

.navbar {
  background: transparent !important;
}
.navbar-brand {
  color: var(--backcolour) !important;
}
.nav-item {
  font-size: 1.2rem !important;
  padding: 0 10px 0 0 !important;
}
.navbar-nav {
  margin-right: 10% !important;
}

.nav-link:hover {
  -webkit-text-decoration: #494964 underline;
  text-decoration: #494964 underline;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#494964),
    to(#6f6f89)
  );
  background: linear-gradient(to right, #494964, #6f6f89);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crew h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#494964),
    to(#6f6f89)
  );
  background: linear-gradient(to right, #494964, #6f6f89);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.introduction {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cover {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cover img {
  height: 60vh;
  /*border: #494964 solid;*/
  -webkit-animation: drop 1.5s ease;
  animation: drop 1.5s ease;
}

.big-eclipse {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.7;
  height: 80%;
}

.mid-eclipse {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}

.small-eclipse {
  position: absolute;
  bottom: 0%;
  left: 25%;
  z-index: -1;
  height: 40%;
  opacity: 1;
}

.crew {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.crew p {
  color: #494964;
  border: 10px #13552c solid;
  border-radius: 30% / 20%;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-animation: drop 1.5s ease;
  animation: drop 1.5s ease;
}

.first,
.second,
.third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

form {
  text-align: center;
  margin-top: 0;
}

form h2 {
  color: #585772;
}

.submit {
  background-color: #01b462;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}

.submit:hover {
  background-color: #13552c;
}

textarea {
  height: 100px;
}

input,
textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

h1 span {
  border: 4px dashed #20bcd5;
  padding: 10px;
}

#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
}

#contacts {
  text-align: center;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .small-eclipse,
  .mid-eclipse,
  .big-eclipse {
    opacity: 0.2;
  }
  .first,
  .second,
  .third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 376px) {
  .cover {
    width: fit-content;
  }
}
/*# sourceMappingURL=styles.css.map */
